<br>
<ion-content>
  
      <br>
      <ion-button href="home" style="color:white; border-radius:30%; width: 31%;">Home</ion-button>
      <ion-button href="time" style=  "color:white; border-radius:30%;width: 31%">Time</ion-button>
      <ion-button href="schedule" style=  "color:white; border-radius:30%;width: 33%">Schedule</ion-button>
  


<ion-content>
  <ion-row>
    
    <ion-col>
      <b>Faculty</b>
    </ion-col>
    <ion-col>
      <b>Course</b>
    </ion-col>
    <ion-col>
      <b>Subject</b>
    </ion-col>
    <ion-col>
      <b>Room</b>
    </ion-col>
    <ion-col>
      <b>Time Start</b>
    </ion-col> 
    <ion-col>
      <b>Time End</b>
    </ion-col>
  
    
  </ion-row>
  <ion-row>
    
    <ion-col>
      CICS
    </ion-col>
    <ion-col>
      BSIT
    </ion-col>
    <ion-col>
      Application Development
    </ion-col>
    <ion-col>
      101
    </ion-col>
    <ion-col>
      9:00 AM
    </ion-col> 
    <ion-col>
      12:00 PM
    </ion-col>
    <ion-col>
      <a href="sched2" class="button">Delete</a>
      <br>
      <a href="" class="button" style="color:red">Edit</a>
    </ion-col>
    <ion-col>
     
    </ion-col>
    
    
  </ion-row>
 
  
</ion-content>
