<br>
<ion-content>
  <ion-col>
    <ion-row>
  
      
      <ion-button color="success" href="home" style="color :#ffffffef; border-radius:30%; width: 31%;">Home</ion-button>
      <ion-button color="warning" href="time" style=  "color:#ffffffef; border-radius:30%;width: 31%">Time</ion-button>
      <ion-button color="danger" href="schedule" style=  "color:#ffffffef; border-radius:30%;width: 31%">Schedule</ion-button>
  
         
    </ion-row>
  </ion-col>

    <center><ion-label><h1><b>Set Schedule</b></h1></ion-label></center>
  
      <ion-toolbar>
        <ion-list>
          <ion-item>
            <ion-label><b>College</b></ion-label>
            <ion-select interface="popover" placeholder="Select">
              <ion-select-option value="CEAFA">CEAFA</ion-select-option>
              <ion-select-option value="CICS">CICS</ion-select-option>
              <ion-select-option value="CIT">CIT</ion-select-option>
              
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label><b>Course</b></ion-label>
            <ion-select interface="popover" placeholder="Select">
              <ion-select-option value="It">BSIT</ion-select-option>
              <ion-select-option value="Cs">CS</ion-select-option>
              <ion-select-option value="Ce">COMP ENG</ion-select-option>
            </ion-select>
  
          </ion-item>
          <ion-item>
            <ion-label><b>Subject</b></ion-label>
            <ion-select interface="popover" placeholder="Select">
              <ion-select-option value="s1">Application Development</ion-select-option>
              <ion-select-option value="s2">Integrative Programming</ion-select-option>
              
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label><b>Room</b></ion-label>
            <ion-select interface="popover" placeholder="">
              <ion-select-option value="r1">101</ion-select-option>
              <ion-select-option value="r2">102</ion-select-option>
              <ion-select-option value="r3">103</ion-select-option>
              
            </ion-select>
          </ion-item>
        </ion-list>
        <br>
   <center> <ion-button href="time" style= "color:#0e0c0cef; border-radius:30%;width: 31%">Add</ion-button> </center>
      </ion-toolbar>
    </ion-content>
    
    